.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 50vw;
  max-width: 50vw;
  max-height: 210vh;
  justify-content: flex-start;

}

.list-item {
  width: 33.3%;
  padding: 5px;
  box-sizing: border-box;
}

.toolbar {
  width: 50vw;
  padding: 5px;
  box-sizing: border-box;
}

.button {
  margin: 2px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.active {
  background: #dad8d8;
}
